.favorite-button {
    background-color: #0073aa;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 5px; /* Adjust the gap between icon and text */
    position: relative;
}

.favorite-button:disabled {
    background-color: #c0c0c0;
    cursor: not-allowed;
}

.spinner-border {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    border: 0.2em solid currentColor;
    border-right-color: transparent;
    border-radius: 50%;
    animation: spinner-border 0.75s linear infinite;
    margin-left: 10px;
}

/* Animation for the spinner */
@keyframes spinner-border {
    100% {
        transform: rotate(360deg);
    }
}


.spinner-border-sm {
    width: 1rem;
    height: 1rem;
    border-width: 0.2em;
}

.favorite-button.add-favorite {
    background-color: #0073aa;
}

.favorite-button.remove-favorite {
    background-color: #d9534f;
}

.favorite-button .favorite-icon {
    width: 20px;
    height: 20px;
    display: inline-block;
}

.favorite-button .favorite-text {
    display: inline-block;
}

.favorite-button:hover {
    background-color: #005177;
}
